.Header {
    background-color: #5c616c;
    min-height: 100px; /*I'll change this later*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 20px;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}